* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;

}

.line1 {
    position: fixed;
    border-left: 20px solid #b5cfc2;
    height: 100vh;
}

.line2 {
    position: fixed;
    left: 38px;
    border-left: 20px solid #b5cfc2;
    height: 100vh;
}

.triangle {
    position: absolute;
    left: 55px;
    top: 14px;
    border: 20px solid transparent;
    border-right: 20px solid #000000;
}

.text {
    position: absolute;
    left: 150px;
    top: 27px;
    color: #000000;
    font-weight: 600;
}

ul {
    list-style-type: none;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    position: relative;
    left: 22vh;
    top: 7.5vw;
    width: 80%;
    height: 80vh;
}

.input-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.personalData {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 43%;
    height: 100%;
    background: #73737315;
    border-radius: 30px;
    padding-bottom: 20px;
}

p.data {
    font-weight: bolder;
    color: #545454;
    font-size: 1.5rem;
    margin: 25px;
    margin-bottom: 10px;
    margin-top: 30px;
}

p.addressData {
    font-weight: bolder;
    color: #545454;
    font-size: 1.5rem;
    margin: 25px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.next {
    background-color: #ffffff00;
    font-weight: bolder;
    color: #000;
    font-size: 1.5rem;
    padding: 20px;
    cursor: pointer;
    width: 15%;
}

a {
    text-decoration: none;
    display: block;
    color: black;
}

input {
    background-color: #b5cfc2;
    width: 85%;
    height: 5vh;
    border: 0px;
    padding: 10px;
    margin: 10px 40px 20px 40px;
    border-radius: 20px;
    font-size: 2.5vh;
    align-items: center;
}

input:enabled {
    color: #545454;
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

::placeholder {
    color: rgba(255, 255, 255, 0.806);
    text-align: center;
}

li::before {
    position: relative;
    font-weight: bolder;
    color: #545454;
    top: 1.5vh;
    left: 3.6vw;
}

.iin::before {
    content: "ИИН";
}

.surname::before {
    content: "ФАМИЛИЯ";
}

.name::before {
    content: "ИМЯ";
}

.patronymic::before {
    content: "ОТЧЕСТВО";
}

.id-number::before {
    content: "№ УДОСТОВЕРЕНИЯ ЛИЧНОСТИ";
}

.address {
    display: flex;
    flex-direction: column;
    width: 43%;
    background-color: #73737315;
    border-radius: 30px;
    padding-top: 20px;
    padding-bottom: 30px;
    height: 100%;
}

.region::before {
    content: "ОБЛАСТЬ";
}

.district::before {
    content: "РАЙОН";
}

.city::before {
    content: "ГОРОД/СЕЛО";
}

.street::before {
    content: "УЛИЦА, ДОМ, КВАРТИРА";
}


li {
    animation: 0.5s update;
}

@keyframes update {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}