* {
    box-sizing: border-box;
  }

body {
    background-color: white;
    color: black;
    margin: 0;
    display: grid;
  }
  .notification-container {
    text-align: center;
    margin-top: 200px;
  }
  
  .notification-title {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .notification-button {
    background-color: #b5cfc2;
    border: none;
    color: black;
    padding: 20px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 10px 2px;
    cursor: pointer;
  }
  
  .full-width {
    width: calc(100% - 20px);
  }

  .dropdown {
    text-align: center;
    position: absolute;
    right: 0px;
    perspective: 200px;
  }

  .dropdown button {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 16px;
    width: 230px;
    height: 72px;
    color: black;
    background: transparent;
    border-radius: 8px;
    border: 0;
    cursor: pointer;
    font-size: 16px;
  }

  .dropdown > button {
    position: relative;
    z-index: 2;
    transition: 0.3s;
  }

  .menu {
    position: absolute;
    overflow: hidden;
    z-index: 1;
    width: 100%;
    height: 112px;
    opacity: 0;
    transform-origin: 100% 0%;
    scale: 0;
    visibility: hidden;
    border-radius: 8px;
    background: #b5cfc2;
    transition: 0.4s;
  }
  
  .dropdown.open .menu {
    scale: 1;
    right: 0;
    top: 72px;
    opacity: 1;
    visibility: visible;
  }

  .menu button {
    border: 0;
    width: 100%;
    height: 56px;
    border-radius: 0;
  }
  
  .menu button:hover {
    background: #b5cfc2;
  }
  
  .chevron {
    margin-left: auto;
    transition: 0.4s;
    width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 15px solid #b5cfc2;
  }
  
  .dropdown.open .chevron {
    rotate: -180deg;
  }