* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    
}

.line1 {
    position: fixed; 
    border-left: 20px solid #b5cfc2;
    height: 100vh;
}

.line2 {
    position: fixed;
    left: 38px;
    border-left: 20px solid #b5cfc2;
    height: 100vh;
}

.triangle {
    position: absolute;
    left: 55px;
    top: 14px;
    border: 20px solid transparent;
    border-right: 20px solid #000000;
}

.text {
    position: absolute;
    left: 150px;
    top: 27px;
    color: #000000;
    font-weight: 600;
}

h1 {
    color: #545454;
    font-size: 2.3rem;
}

p {
    font-weight: bolder;
    color: #545454;
    font-size: 1.5rem;
    margin: 20px 0px;
}

.personInfo{
    position: relative;
    display: flex;
    flex-direction: column;
    left: 7.5vw;
    top: 13vh;
    width: 70%;
}

.person {
    display:flex;
    justify-content: space-between;
    text-align: center;

    .person-name {
        background-color: #b5cfc2;
        width: 60%;
        padding: 15px 20px;
        border-radius: 50px;
    }

    .person-iin {
        background-color: #b5cfc270;
        width: 35%;
        padding: 15px 20px;
        border-radius: 50px;
    }
}

.home-address {
    background-color: #b5cfc2;
    width: 100%;
    padding: 15px 20px;
    border-radius: 50px;
    margin: 20px 0px;
    text-align: center;
}

.documents {
    position: relative;
    display: flex;
    flex-direction: column;
    left: 7.5vw;
    top: 10vh;
    width: 90%;
}

.person-statement {
    display:flex;
    justify-content: space-between;
    text-align: center;
    margin: 10px 0px;

    .statement {
        background-color: #b5cfc2;
        width: 78%;
        padding: 15px 20px;
        border-radius: 50px;
    }  
}
a.pdf-statement {
    text-decoration: none;
    display: block;
    color: black;
    background-color: #b5cfc239;
    width: 20%;
    padding: 15px 20px;
    border-radius: 50px;
}

.buttons {
    position: relative;
    display: flex;
    justify-content: space-between;
    left: 7.5vw;
    bottom: -15vh;
    width: 90%;
    text-align: center;
}

a.yes {
    text-decoration: none;
    display: block;
    color: black;
    background-color: #00bf6370;
    width: 20%;
    padding: 15px 20px;
    border-radius: 50px;
    margin-left: 58%;
}

a.no {
    text-decoration: none;
    display: block;
    color: black;
    background-color: #ff575770;
    width: 20%;
    padding: 15px 20px;
    border-radius: 50px;
}