@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.line1 {
  position: fixed;
  border-left: 20px solid #b5cfc2;
  height: 100vh;
}

.line2 {
  position: fixed;
  left: 38px;
  border-left: 20px solid #b5cfc2;
  height: 100vh;
}

.triangle {
  position: absolute;
  left: 55px;
  top: 14px;
  border: 20px solid transparent;
  border-right: 20px solid #000000;
}

.title {
  position: absolute;
  left: 130px;
  top: 27px;
  color: #000000;
  font-weight: 600;
}

.container-max {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 7.5vw;
  top: 5vw;
  width: 90%;
  height: 80%;
}

.container {
  background-color: #73737315;
  width: 80%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 30px;
  padding: 20px 0px;
}

.words {
  font-size: large;
  background-color: #b5cfc2;
  border-radius: 50px;
  padding: 20px 20px;
  width: 80%;
  text-align: center;
}

.button {
  border: none;
  position: relative;
  bottom: 4px;
  /* left: 110px; */
  font-weight: bolder;
}


.send {
  font-size: large;
  cursor: pointer;
  background-color: #00bf6370;
  border: none;
  padding: 20px;
  width: 20%;
  margin: 20px;
  border-radius: 50px;
}

.send:hover {
  background-color: #33ab719f;
}

.pin-text {
  font-weight: bolder;
}

#pin-doc {
  font-weight: bold;
  color: #c53636;
}
