@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
    font-weight: bolder;
    background-color: #b5cfc2;
    font-size: 1.2rem;
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px 40px;
}

.line1 {
    position: fixed;
    border-left: 20px solid #b5cfc2;
    height: 100vh;
}

.line2 {
    position: fixed;
    left: 38px;
    border-left: 20px solid #b5cfc2;
    height: 100vh;
}

.header {
    position: relative;
    display: flex;
    justify-content: end;
    padding: 50px 50px 0 0;
}

.fullname {
    position: absolute;
    font-weight: bolder;
    right: 50px;
    color: #6a6964;
    font-size: 2.1rem;
    margin-right: 35px;
}

.navigator {
    position: relative;
    display: inline;
}

.menu {
    list-style: none;
    position: relative;
    right: 0px;
    margin-top: 50px;
    height: 10%;
    opacity: 0%;
    visibility: hidden;
    transition: all 0.3s ease 0s;
}

.menu-btn {
    background-color: #ffffff00;
    position: absolute;
    right: 3px;
    top: 15px;
    transition: 0.3s;
    rotate: 180deg;
}

.open {
    rotate: 0deg;
    transition: 0.3s;
}

.menu li {
    color: #fff;
    font-weight: bolder;
    background-color: #b5cfc2;
    font-size: 1.2rem;
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
}

.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    left: 7.5vw;
    top: 15vh;
    width: 90%;
}

.application-title {
    color: #6a6964;
    font-size: 4rem;
    font-weight: bolder;
    margin-bottom: 20px;
    margin-left: 20px;
}

.application-list {
    color: #000;
    position: relative;
    list-style: none;
    display: flex;
    flex-direction: column;
    background-color: #73737315;
    border-radius: 25px;
    padding: 10px 30px;
    min-height: 38.5vh;
    max-height: 38.5vh;
    overflow-y: auto;
}

::-webkit-scrollbar {
    display: none;
}

.application {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    margin: 20px 0px;
}

.application * {
    border-radius: 50px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}

.application-name {
    background-color: #b5cfc2;
    padding-left: 25px;
    padding-right: 25px;
    width: 50%;
    /* overflow-x: scroll; */
}

.application-status {
    padding-left: 10px;
    padding-right: 10px;
    width: 20%;
}

.sent {
    background-color: #cbcfb590;
    width: 45%;
}

.sent::after {
    content: 'Отправлено';
}

.accept {
    background-color: #b8b5cf90;
    width: 45%;
}

.accept::after {
    content: 'Принято';
}

.success {
    background-color: #b5cfc290;
}

.success::after {
    content: 'Выдано';
}

.deny {
    background-color: #cfb5b590;
}

.deny::after {
    content: 'Отказано';
}

.application-save {
    background-color: #a6a6a670;
    padding-left: 10px;
    padding-right: 10px;
    width: 20%;
}