* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    
}

.line1 {
    position: fixed; 
    border-left: 20px solid #b5cfc2;
    height: 100vh;
}

.line2 {
    position: fixed;
    left: 38px;
    border-left: 20px solid #b5cfc2;
    height: 100vh;
}

.triangle {
    position: absolute;
    left: 55px;
    top: 14px;
    border: 20px solid transparent;
    border-right: 20px solid #000000;
}

.text {
    position: absolute;
    left: 150px;
    top: 27px;
    color: #000000;
    font-weight: 600;
}

.list::-webkit-scrollbar {
    visibility: hidden;
}

.list {
    position: relative;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    width: 1060px;
    min-height: 360px;
    max-height: 360px;
    left: 173px;
    top: 150px;
    padding: 10px 30px;
    border-radius: 25px;
    background: #73737315;
    overflow-y: scroll;

    .application {
        display: flex;
        justify-content: space-between;
        margin: 20px 0px;
       
        .fio {
            width: 510px;
            height: 45px;
            background: #b5cfc2;
            border-radius: 30px;
        }

        .number {
            width: 180px;
            height: 45px;
            background: #b5cfc270;
            border-radius: 30px;
        }

        .view {
            width: 180px;
            height: 45px;
            background: #a6a6a670;
            border-radius: 30px;
        }
    }  
}

a {
    text-decoration: none;
}

h4 {
    color: #000000;
    font-weight: lighter;
    text-align: center;
    padding: 12.5px;
}
ul {
    list-style-type: none;
}
